[package]
name = "jy_rs"
version = "0.3.3"
authors = ["itang <live.tang@gmail.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.31"
toml = "0.5.6"
structopt = "0.3.15"
webbrowser = "0.5.5"
